<h2>/engine_room /forgot_password?</h2>

<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><button type="submmit">Send me reset password instructions</button></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
