<%= render 'shared/error_messages', :object => @section %>

<%= form_for [:engine_room, @section] do |f| %>
	<div class="field">
		<%= f.label :name %>
    <%= f.text_field :name %>
  </div>
	<div class="field">
		<%= f.label :model_name %>
    <%= f.select :model_name, options_for_select(Section.model_names.collect!{ |name| [name.camelize,name] }, @section.model_name), {:include_blank => ''} %>
  </div>
  <div class="field">
		<%= f.label :view_type %>
    <%= f.select :view_type, options_for_select(['overview','detail'], @section.view_type) %>
  </div>
  <div class="field">
		<%= f.label :condition %>
    <%= f.text_field :condition %>
  </div>
	<div class="field">
		<%= f.label :sort_order %>
    <%= f.number_field :sort_order %>
  </div>
  <div class="actions">
    <button type="submit"><%= @section.id ? "Update" : "Create" %></button>
  </div>

  <% if @section.id %>
    <div class="actions">
      <%= link_to 'Delete Section?', { :controller => 'engine_room/sections', :action => :destroy, :id => @section.id }, :method => :delete, :confirm => "You sure?", :title => "Delete?" %>
    </div>
  <% end %>

<% end %>
