<%= render 'form' %>

<h2>Detail Fields</h2>

<%= link_to "Add Field", new_engine_room_section_field_path(@section), :class => "button" %>

<div class="box">
	<table>
		<tr>
			<th>Column</th>
			<th>Type</th>
			<th>Sort Order</th>
			<th>Actions</th>
		</tr>
		<% @section.detail_fields.each do |field| %>
		<tr>
			<td><%= link_to field.column, edit_engine_room_section_field_path(@section, field) %></td>
			<td><%= field.field_type %></td>
			<td><%= field.sort_order %></td>
			<td><%= link_to 'delete', engine_room_section_field_path(@section, field), :method => :delete, :confirm => "You sure?", :title => "Delete?" %></td>
		</tr>
		<% end %>
	</table>
</div>

<h2>Overview Fields</h2>

<div class="box">
	<table>
		<tr>
			<th>Column</th>
			<th>Type</th>
			<th>Sort Order</th>
			<th>Actions</th>
		</tr>
		<% @section.overview_fields.each do |field| %>
		<tr>
			<td><%= link_to field.column, edit_engine_room_section_field_path(@section, field) %></td>
			<td><%= field.field_type %></td>
			<td><%= field.sort_order %></td>
			<td><%= link_to 'delete', engine_room_section_field_path(@section, field), :method => :delete, :confirm => "You sure?", :title => "Delete?" %></td>
		</tr>
		<% end %>
	</table>
</div>
